#leHover{
	position: relative;
	color : black;
	text-decoration: none;
}

#leHoverPersonne{
   position: relative;
   text-decoration: none;
}

#leHover span, #leHoverPersonne span {
   display: none; /*  On masque l'infobulle. */
}

#leHover:hover, #leHoverPersonne:hover {
   z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

}
th,td.Libelle{
	font-weight : bold;
}
#leHover:hover span, #leHoverPersonne:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: absolute;
   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
   top: 30px; /* On positionne notre infobulle. */
   left: 20px;
   background: white;
   color: black;
   padding: 3px;
   border: 1px solid blue;
   border-left: 4px solid blue;
   font-size:12px;
   text-align:left;
}

#leHover:hover span table,#leHover:hover span table td {
   border: 1px solid black;
   text-align : center;
   border-collapse : collapse;
}

td.semaine{
	font:Arial;color:#FFFFFF;font-size:12px;
	height:15px;
	vertical-align:middle;
	text-align:center;
	background-color:white;
}

td.weekFerie{
	font:Arial;color:#FFFFFF;font-size:10px;
	height:15px;
	vertical-align:middle;
	text-align:center;
	background-color:#e9e9e9;
}

td.EnTetePlanning{
	font:Arial;color:#ffffff;font-size:10px;
	vertical-align:middle;
	background-color:#656565;
	width:35px;
	text-align:center;
	padding:1px;
}

td.EnTetePlanningJour{
	font:Arial;color:#0;font-size:10px;
	vertical-align:middle;
	background-color:#f4f521;
	width:35px;
	text-align:center;
	padding:1px;
}

th,td.EnTeteMois{
	font:Arial;color:#000000;font-size:12px;font-weight:bold;
	vertical-align:middle;
	background-color:#e2e2e2;
	text-align:center;
	padding:1px;
}

th,td.EnTeteSemaine{
	font:Arial;color:#404040;font-size:12px;
	vertical-align:middle;
	background-color:#b1b1b1;
	text-align:center;
	padding:1px;
}

td.PersonnePlanning{
	font:Arial;color:#d2d2d2;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#191919;
	text-align:left;
	padding:1px;
	width:250px;
}

td.PersonnePlanning2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#f5f5f5;
	text-align:left;
	padding:1px;
	width:200px;
}

td.MetierPlanning{
	font:Arial;color:#d2d2d2;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#191919;
	text-align:center;
	padding:1px;
	width:100px;
}

td.MetierPlanning2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#f5f5f5;
	text-align:center;
	padding:1px;
	width:100px;
}

td.rempliSansFormation{
	font:Arial;color:#000000;font-size:11px;font-weight:bold;
	height:15px;
	text-align:center;
}

td.rempliAvecFormation{
	font:Arial;color:#000000;font-size:11px;font-weight:bold;
	height:13px;
	text-align:center;
	background-image:url("../Images/Rayure.gif");
}
td.rempliAvecCommentaire{
	font:Arial;color:#000000;font-size:11px;font-weight:bold;
	height:15px;
	text-align:center;
	background-image:url("../Images/Commentaire.gif");
}
td.rempliAvecFormationEtCommentaire{
	font:Arial;color:#000000;font-size:11px;font-weight:bold;
	height:13px;
	text-align:center;
	background-image:url("../Images/RayureEtCommentaire.gif");
}

textarea{ 
	font:Arial;font-size:11px;
	resize:none;
}

input.boutonTrier {
  height: 20px;
  width: 55px;
} 
input.boutonFiltrer {
  height: 20px;
  width: 110px;
  text-align:center;
} 

select.prestation {
  width: 170px;
} 

select.pole {
  width: 100px;
}

td.checkbox{
	font:Arial;color:black;font-size:10px;height:15px;
	vertical-align:middle;
	background-color:#548FFB;
	text-align:center;
	padding:1px;
	width:20px;
}

td.checkbox2{
	font:Arial;color:black;font-size:10px;height:15px;
	vertical-align:middle;
	background-color:#548FFB;
	text-align:center;
	padding:1px;
	width:20px;
}

form.test{
  margin:0;
  margin-top:0;
  width:100%;
  box-shadow: none;
  border-radius:none;
  border:none;
}

td.EnTetePlanningSurveillanceJour{
	font:Arial;color:#0;font-size:10px;
	vertical-align:middle;
	background-color:#ff8400;
	width:35px;
	text-align:center;
	padding:1px;
}

td.TitreMenu{font-weight:bold;color:#000000;font-size:12px;height:25px;vertical-align:middle;border:1px #000000 solid;background-color:#c7e4f1;padding-left:10px;}

td.cEnTete{
	border:1px solid #787878;
	background-color:#146eb1;
	font-size:17px;
	font-weight:bold;
	color:#ffffff;
	font-weight:bold;
}
td.cLigne1{
	font-size:13px;
	font-weight:bold;
}

td.numSemaine{
	font-size:13px;
	color:#979797;
	text-align:center;
}

td.jourSemaine{
	border:1px solid #b9b9b9;
	font-size:13px;
	color:#000000;
}
td.semaine2{
	font:Arial;color:#000000;font-size:10px;
	height:15px;
	vertical-align:middle;
	background-color:#ebebeb;
}

td.weekFerie2{
	font:Arial;color:#000000;font-size:10px;
	height:15px;
	vertical-align:middle;
	background-color:#b1b1b1;
}



td.EnTetePlanningV2{
	font:Arial;color:#ffffff;font-size:10px;
	vertical-align:middle;
	background-color:#204833;
	width:35px;
	text-align:center;
	padding:1px;
}

td.EnTetePlanningJourV2{
	font:Arial;color:#0;font-size:10px;
	vertical-align:middle;
	background-color:#f4f521;
	width:35px;
	text-align:center;
	padding:1px;
}

td.EnTeteMoisV2{
	font:Arial;color:#000000;font-size:12px;font-weight:bold;
	vertical-align:middle;
	background-color:#99d1b3;
	text-align:center;
	padding:1px;
}

td.EnTeteSemaineV2{
	font:Arial;color:#000000;font-size:12px;
	vertical-align:middle;
	background-color:#4aa675;
	text-align:center;
	padding:1px;
}

td.PersonnePlanningV2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#95cfb0;
	text-align:left;
	padding:1px;
	width:250px;
}

td.PersonnePlanning2V2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#f5f5f5;
	text-align:left;
	padding:1px;
	width:200px;
}

td.MetierPlanningV2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#95cfb0;
	text-align:center;
	padding:1px;
	width:100px;
}

td.MetierPlanning2V2{
	font:Arial;color:#000000;font-size:11px;height:15px;
	vertical-align:middle;
	background-color:#f5f5f5;
	text-align:center;
	padding:1px;
	width:100px;
}

td.weekFerieV2{
	font:Arial;color:#000000;font-size:12px;
	height:15px;
	vertical-align:middle;
	text-align:center;
	background-color:#e9e9e9;
}

td.EnAttenteValidation{
	background-image:url("../Images/Rayure2.png");
	font-weight:bold;
}

td.RH{
	background-image:url("../Images/RH.png");
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:12px;
}

td.HR{
	background-image:url("../Images/HR.png");
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:12px;
}

td.Comment{
	background-image:url("../Images/Commentaire.gif");
	background-repeat:no-repeat;
	background-position:right top;
	background-size:25px;
}

td.CommentRH{
	background-image:url("../Images/CommentaireRH.gif");
	background-repeat:no-repeat;
	background-position:right top;
	background-size:22px;
}

td.CommentHR{
	background-image:url("../Images/CommentaireHR.gif");
	background-repeat:no-repeat;
	background-position:right top;
	background-size:22px;
}
